* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Omori Game Font';
    src: url('./fonts/OMORI_GAME2.ttf') format('truetype');
}

body {
    font-family: 'Omori Game Font', 'Courier New', monospace;
    background: #ffffff;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: black;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

.app-header {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  background: rgb(0, 0, 0);
  border-radius: 15px;
  border: 2px solid transparent;
  color: white;
  width: 1200px;
  
}

.app-header h1 {
  color: white;
  font-size: 4em;
  margin-bottom: 10px;;
}

.app-header p {
  color: white;
  font-size: 1.5em;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.tabs button {
  padding: 12px 30px;
  border: 1px solid transparent;
  background: transparent;
  color: white;
  background: black;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.1em;
  transition: all 0.3s ease;
}

.tabs button:hover {
  background: white;
  color: black;
  border: 1px solid black;
  transform: translateY(-2px);
}

.tabs button:active {
  background: rgb(189, 189, 189);
  color: black;
  border: 1px solid black;
  transform: translateY(-2px);
}












.app-footer {
  margin-top: 150px;
  padding: 20px;
  background: rgb(0, 0, 0);
  border-radius: 15px;
  border: 2px solid transparent;
  color: white;
  text-align: center;
  width: 1200px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-content p {
  font-size: 1.5em;
  margin: 0;
  color: white;
}












































